
.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu button {
  color: rgb(187, 25, 25);
  background-color: azure;
  text-align: center;
  padding: 14px;
  width: 150px;
  height: 50px;
  text-decoration: none;
}

.scrollmenu button:hover {
  background-color: #777;
}
.playButton {
    background: green;
}
.yellowBorder{
    border-color: rgb(251, 239, 14);
}
.printButton {
    background: blue;
}
.playButton:hover{
    background: lightgreen;
}
.stopButton {
    background: red;
}
.stopButton:hover{
    background: lightcoral;
}
.p_button {
    background: red;
    width: 150px;
    height: 30px;
}
.p_button_sel {
    background: green;
    width: 150px;
    height: 30px;
}
