.body {
    background-color: rgb(83, 146, 201);
    font-family: monospace;
}

.clavWhite {
    width: 8%;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: blue;
    color: black;
    text-align: left;
}
.clavBlack {
    width: 8.5%;
    background-color: black;
    border-style: solid;
    border-width: 3px;
    border-color: blue;
    color: white;
}

.mainContainer {
    display: none;
}
.secondContainer {
    padding:2%;
    background-color: blue;
}
.btnSelected {
    width: 100%;
    background-color: white;
    border: none;
    color: blue;
}
.btnNotSelected {
    width: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background-color:blue;
    color: white;
}
.btnCollideWLabel{
    width: 100%;
    background-color: white;
    border: none;
    color: blue;
    margin-top: 10%;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 13%;
}

.abs_middle{
    position: absolute;
    left: 110px;
    top: 320px;
    z-index: 1000;
    margin:10px;
    
}
.canvasStyle{
    border:10px solid white; 
    background-color: blue;
}

.c-line45degBrown{
    transform: rotate(70deg); 
    height:30px; 
    background-color:rgb(63, 48, 48);
}

.txtLogo {
    width: 100%;
    font-size: 44px;
    border: none;
    color: white;
    text-align: center;
}

.txtLabel {
    width: 100%;
    background-color: blue;
    border: none;
    color: white;
    text-align: center;
    margin-top: 1.6%;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0%;
}
.txtLabelL {
    width: 100%;
    background-color: blue;
    border: none;
    color: white;
    margin-top: 1.6%;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0%;
}

.p3 {
    padding:3%;
}
.p1 {
    padding:1%;
}
.m2 {
    margin:2.5%;
}
.m3 {
    margin:3%;
}
.m4 {
    margin:4%;
}
.m13 {
    margin:13%;
}

.m10 {
    margin:10%;
}

.w8 {
    width:8%
}
.w100 {
    width:100%;
}
.w10 {
    width:25%;
}
.nestedRow {
    margin:1%;
}
.border3 {
    border-style: solid;
    border-width: 3px;
    border-color: white;
}

.borderDashed {
    border-style: dashed;
    border-width: 3px;
    border-color: white;
    margin:0px 0px 10px 0px;
    padding:3px;
}

.abs_clown {
    position:absolute;
    text-align:center;
    top: 0px;
    width:1200px;
    z-index: 1001;  
}

.txt_align_left {
    text-align:left;
}
.mt10 {
    margin-top: 2%;
}
.mb2 {
    margin-bottom: 2%;
}
.fxLabelTxt {
    color:white;
    font-weight: bold;
    font-size: 20px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    background:white;
    outline: none;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7px;
    height: 7px;
    background:blue;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 7px;
    height: 7px;
    background:blue;
    cursor: pointer;
}

.inputLabelTxt {
    font-size:14px;
    color: white;
}

.inputLabelTxtHeadline {
    font-size:14px;
    color: white;
    margin-bottom: 2px;
}

.checkbox {
    width:15px;
    height:15px;
    border:none;
    margin-bottom: 2%;
}

.vertAlignTop {
    vertical-align:top;
}

.inpTxt {
    width: 100%;
    background-color: white;
    color:blue;
    font-weight: bold;
    margin-bottom: 2px;
}
.dropdown {
    color:blue;
    margin-bottom: 3px;
}
